@{
}
<div class="bg-secondary bg-opacity-10 py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <h4 class="mb-0 text-center">You are not allowed to access this page</h4>
        </div>
    </div>
</div>