@model Blogging.Web.Models.ViewModels.AddTag
@{
}
<div class="bg-secondary bg-opacity-10 py-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Add New Tag - Admin Functionality</h4>
        </div>
    </div>
</div>
<div class="bg-opacity-10 py-5">
    <div class="container">
        <form action="" method="POST">
            <div class="form-group mb-3">
                <label for="name" class="control-label mb-1">Tag Name*</label>
                <input type="text" asp-for="Name" class="form-control" required />
            </div>
            <div class="form-group mb-3">
                <label for="displayName" class="control-label mb-1">Display Name*</label>
                <input type="text" asp-for="DisplayName" class="form-control" required />
            </div>
            <div class="form-group mb-3">
                <input type="submit" name="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>